/* You're welcome to change any of this! */
* {
    box-sizing:border-box;
    margin-left:10px
}
h1 {
    color: magenta;
    text-shadow: 3px 3px 6px cornflowerblue ;
}

h2 {
    border-style: dotted;
    border-color: darkblue;
    border-radius: 10px;
    margin-right: 300px;

}
body {
    background-color:lavender;
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:cornflowerblue;
    
}

a:link {
    color:mediumpurple;
}

a:visited {
    color:mediumpurple;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}