  @import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
* {
    box-sizing:border-box;
    margin-left:10px
}
h1 {
    font-family: "Rubik Wet Paint";
    font-size: 40px;
    color: rgb(255, 85, 255);
    text-shadow: 3px 3px 6px cornflowerblue ;
}

h2 {
    border-style: dotted;
    border-color: darkblue;
    border-radius: 10px;
    margin-right: 10px;
    padding-left:4px;

}

#truck{
    color: rgb(0, 72, 206);
    transition-duration: 2.5s;
}

#truck:hover{
    text-shadow: 5px 5px 10px red;
    margin-left: 200px;
}

body {
    background-color:rgb(216, 255, 216);
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(23, 136, 206);
    
}

a:link {
    color:mediumpurple;
}

a:hover {
    border-style: dashed;
    border-color:blueviolet;
    background-color: gold;
    font-size: larger;
}
a:visited {
    color:darkorchid;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}