@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


* {
    box-sizing:border-box;
    margin-left:10px;
}

body {
    display: grid;
    grid-template-columns: 100%;
    background-color: #0E958F;
    padding: 20px;
}

h1 {
    font-family: "Bungee Outline", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    word-spacing: 10px;
    display: flex;
    justify-content: center;
    color: #38302E;
    background-color: #FFB60A;
    border: solid #D8572A 5px;
    grid-column: 1;
    padding-left: 15px;
    padding-right: 15px;
}

h1:hover {
    background-color: #FFF9EB;
    color:  #FFB60A;
}

h2 {
    font-family: "Bungee", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

main {
    font-family:"Open Sans", sans-serif;
    font-size: 12pt;
    color: #38302E;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    grid-column: 1;

}

section {
    background-color: #FFF9EB;
    border: solid #D8572A 5px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

#tutorials {
    grid-column: 1/3;
}

#homework {
    grid-column: 3/5;
}

#class-exercises {
    grid-column: 5/7;
}

#quizzes {
    grid-column: 1/4;
}

#inspiration {
    grid-column: 4/7;
}

footer {
    color: #38302E;
    background-color: #FFB60A;
    border: solid #D8572A 5px;
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

img {
    width: 7.5%;
    border: solid #D8572A 5px;
    border-radius: 50%;
    margin-right: 10px;
}


a:link {
   text-decoration: none;
   color: #38302E;
}

a:hover {
    text-decoration: none;
    color:  #38302E;
    font-weight: 700;
}

a:visited {
    text-decoration: none;
    color: #38302E;
}

a:active{
    text-decoration: none;
    color:  #FFB60A;
}

footer h2{
    font-size: 20px;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

@media screen and (max-width: 1000px) {

    h1, footer {
        width: 80vw;
        padding-left: 15px;
        padding-right: 15px;
        grid-column: 1;
    }   

    /* main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 20px;
        grid-column: 1;
    I feel like I need to do something here to make it not have that big 
    gap to the right but I can't figure it out
    } */

     #tutorials {
        grid-column: 1;
        width: 80vw;
    }
    
    #homework {
        grid-column: 1;
        width: 80vw;
    }
    
    #class-exercises {
        grid-column: 1;
        width: 80vw;
    }
    
    #quizzes {
        grid-column: 1;
        width: 80vw;
    }
    
    #inspiration {
        grid-column: 1;
        width: 80vw;
    }
    
    footer{
        margin-top: 20px;
        
    }

    img {
        width: 90px;
        border: solid #D8572A 5px;
        border-radius: 50%;
        margin-right: 10px;
    }

    p, a, li {
        line-height: 1.2em;
        font-size: 1em;
    }
}