* {
    box-sizing: border-box;
}

/*
--reseda-green: #79865b;
--sage: #a6af83;
--ivory: #fffff0;
--columbia-blue: #c6d3db;
--powder-blue: #8ca6c5;
--lapis-lazuli: #4b6995

hehe i should Not have 6 colors but that wave thing was yelling at me and i want em
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #8ca6c5;
}

header, section, footer {
    padding: 10px; 
}

main {
    padding: 20px;
    
}



header{
    background: #4b6995;
    color: #fffff0;
    padding-left: 40px;
    padding-bottom: 20px;
}

nav a {
    color:#fffff0;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

.current-tab {
    background-color:  #C6D3DB;
    color: #4b6995;
}

.search-form input[type=text] {
    padding: 10px;
    font-size: 16px;
}

.search-form button{
    padding: 10px;
    background-color: #c6d3db;
    /* border: 2px #4b6995; */
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    
}
.card {
    border: 2px #4b6995 solid;
    display: inline-block;
    width: calc(25% - 30px);
    margin: 10px;
    padding: 10px;
    background-color: #c6d3db;
}

.card img {
    width: 100%;
}


@media only screen and (max-width: 800px) {
    .card{
        width: calc(50% - 20px)
    }
}




/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }